@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #020001;
  --blue: #0075ff;
  --green: #29bc5b
}

@utility container {
  padding: 1rem;
  margin-inline: auto;
}

@theme inline {
  --color-white: var(--background);
  --color-black: var(--foreground);
  --color-blue: var(--blue);
  --color-green: var(--green);
  --font-plus: var(--font-plus-jakarta-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}

.stroke {
  -webkit-text-stroke: 2px black;
}